html {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-rows: auto 1fr;
  height: 100%;
}
body > header {
  grid-area: header;
}
body main {
  position: relative;
  grid-area: content;
}
@media (min-width: 576px) {
  body main {
    overflow-y: auto;
  }
}
body main section:nth-child(even) {
  background-color: #ddd;
}
body main section:nth-child(odd) {
  background-color: #ccc;
}

header,
footer {
  background-color: #000;
  color: #fff;
}

header .row-2,
footer .row-2 {
  display: grid;
}
header .row-2 > div:last-child,
footer .row-2 > div:last-child {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (min-width: 576px) {
  header .row-2 > div:last-child,
footer .row-2 > div:last-child {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}
@media (min-width: 576px) {
  header .row-2,
footer .row-2 {
    display: initial;
  }
}

.container {
  display: grid;
  grid-template-areas: ". . ." ". row ." ". . .";
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  grid-gap: 1rem;
}
.container > div {
  display: grid;
  grid-area: row;
  grid-gap: 1rem;
}
.container h1,
.container h2,
.container p {
  margin: 0;
}

@media (min-width: 576px) {
  .row-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 576px) {
  .row-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 576px) {
  .row-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 576px) {
  .row-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 576px) {
  .row-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 576px) {
  .row-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

.col {
  grid-template-columns: minmax(0, auto);
}

.colspan-2 {
  grid-column: span 2;
}
.colspan-2 {
  grid-column: span 2;
}
.colspan-4 {
  grid-column: span 4;
}
.colspan-5 {
  grid-column: span 5;
}
.colspan-6 {
  grid-column: span 6;
}
.colspan-7 {
  grid-column: span 7;
}
.colspan-8 {
  grid-column: span 8;
}
.colspan-9 {
  grid-column: span 9;
}
.colspan-10 {
  grid-column: span 10;
}
.colspan-11 {
  grid-column: span 11;
}

.relative {
  position: relative;
}

input[type=checkbox] {
  cursor: pointer;
}

.grid-overlay {
  display: grid;
  grid-template-rows: minmax(100%, auto);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 576px) {
  .grid-overlay-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 576px) {
  .grid-overlay-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 576px) {
  .grid-overlay-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 576px) {
  .grid-overlay-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 576px) {
  .grid-overlay-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 576px) {
  .grid-overlay-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
.grid-overlay > div {
  background-color: rgba(0, 0, 200, 0.1);
}
.grid-overlay.d-none {
  display: none;
}