.container {
  display: grid;
  grid-template-areas:
    ". . ."
    ". row ."
    ". . .";
  grid-template-columns:
    1fr
    minmax($xs, $xl)
    1fr;
  grid-gap: $spacer;

  > div {
    display: grid;
    grid-area: row;
    grid-gap: $spacer;
  }

  h1,
  h2,
  p {
    margin: 0;
  }
}

.row {
  @each $name, $row in $rows {
    &#{$pref-hyphen + $name} {
      @include breakpoint($sm) {
        grid-template-columns: repeat($row, 1fr);
      }
    }
  }
}

.col {
  grid-template-columns: minmax($xs, auto);
}

.colspan {
  @each $name, $col in $cols {
    &#{$pref-hyphen + $col} {
      grid-column: span $col;
    }
  }
}
