.relative {
  position: relative;
}

.pointer > * {
  cursor: pointer;
}

.grid-overlay {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include breakpoint($sm) {
    grid-template-rows: minmax(100%, auto);
  }

  @each $name, $row in $rows {
    &#{$pref-hyphen + $name} {
      @include breakpoint($sm) {
        grid-template-columns: repeat($row, 1fr);
      }
    }
  }

  > div {

    &::after {
      position: relative;
      top: -20px;
    }

    @each $name, $col in $cols {
      &:nth-child(#{$col}) {
        color: rgba($name, 0.3);
        text-shadow: 0 0 6px rgba(0, 0, 0, .3);
        background-color: rgba($name, 0.1);

        &::after {
          font-size: 0.8rem;
          content: $pref-col + $col;
        }
      }
    }

  }

  &.d-none {
    display: none;
  }
}
